[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Tend to my own garden.
[access "refs/*"]
	owner = group user/Kaid Wong (kaid)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kaid Wong (kaid)
	label-Verified = -1..+1 group user/Kaid Wong (kaid)
	push = group user/Kaid Wong (kaid)
	read = group user/Kaid Wong (kaid)
	rebase = group user/Kaid Wong (kaid)
	removeReviewer = group user/Kaid Wong (kaid)
	submit = group user/Kaid Wong (kaid)
[access "refs/heads/*"]
	create = group user/Kaid Wong (kaid)
	push = +force group user/Kaid Wong (kaid)
	pushMerge = group user/Kaid Wong (kaid)
	read = group user/Kaid Wong (kaid)
[access "refs/tags/*"]
	push = group user/Kaid Wong (kaid)
	push = +force group user/Kaid Wong (kaid)
